nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--accent);
    padding: 1rem;
  }
  
  .nav-link {
    text-decoration: none;
    color: var(--accent);
    font-weight: 800;
    text-transform: uppercase;
    transition: 300ms;
  }
  
  .nav-link:hover {
    transform: translateY(2px);
  }
  
  .nav-brand {
    width: 25%; /* Adjust according to your design */
  }
  
  .nav-right {
    width: 50%; /* Adjust according to your design */
    display: flex;
    justify-content: space-between;
  }
  
  .sidebar-button {
    display: none;
  }
  
  .nav-sidebar {
    display: none;
  }
  
  /* Media Query for screens smaller than 500px */
  @media screen and (max-width: 500px) {
    .nav-right {
      display: none;
    }
  
    .sidebar-button {
      display: block; /* Show the button */
    }
  
    .nav-sidebar {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh; /* Cover entire viewport height */
      width: 150px; /* Set the sidebar width */
      background: white;
      padding: 1rem;
      z-index: 1000;
    }
  }
  